
body {
	font-family: Arial, sans-serif;
	background-color: #f578b6;
	text-align: center;
	padding: 20px;
}

main {
	background-color: #f7b7d7;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: 20px auto;
	padding: 30px;
}

input[type="text"],
input[type="email"],
button {
	background-color:#fa84d7;
	color: black;
	padding: 12px;
	border: solid;
	margin-bottom: 20px; 
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	width: 90%;
}

button:hover{
	background-color: #f79cf1;
}

h1 {
	color: black;
}

h2 {
	color: black;
	font-size: 24px;
}

p {
	font-size: 19px;
}

.signup-form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}